@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin breakpoints($point) {
    @if $point == xs {
        @media #{$xs} {
            @content;
        }
    } @else if $point == sm {
        @media #{$sm} {
            @content;
        }
    } @else if $point == md {
        @media #{$md} {
            @content;
        }
    } @else if $point == lg {
        @media #{$lg} {
            @content;
        }
    } @else if $point == xl {
        @media #{$xl} {
            @content;
        }
    } @else if $point == xxl {
        @media #{$xxl} {
            @content;
        }
    } @else {
        @media #{$point} {
            @content;
        }
    }
}
@mixin prefixer($property, $value) {
    $prefixes: webkit ms moz o;
    #{$property}: $value;
    @each $prefix in $prefixes {
        #{'-'+$prefix + '-' + $property}: $value;
    }
}
@mixin same-scale($width) {
    width: $width;
    height: $width;
}
@mixin set-position($top, $right, $bottom, $left) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
